/* app.css */

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: 'JetBrains Mono', monospace;
}

*:focus {
	outline: none;
}

.inset {
	border-style: inset;
}

.outset {
	border-style: outset;
}

@layer utilities {
	.border-outset {
		border-style: outset;
	}
}

.card,
.table {
	@apply border-outset flex  flex-col items-center gap-6 rounded-none border-4 border-white bg-primary p-4 shadow-md;
	border-style: outset;
}

.tab {
	@apply flex h-full w-32 items-center justify-center gap-2 self-start border-4 border-white bg-primary px-4 py-2 font-bold text-white;
	border-style: outset;
}
