/* app.css */

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: 'JetBrains Mono', monospace;
}

button {
	@apply flex h-fit items-center justify-center gap-2 border-4 border-white bg-blue-500 px-4 py-2 font-bold text-white;
	border-style: outset;
}

input {
	@apply flex h-fit items-center justify-center border-4 border-white bg-white bg-opacity-50 font-bold text-white;
	border-style: inset;
	outline: none;
}

*:focus {
	outline: none;
}

p,
h1 {
	@apply text-white;
}

.inset {
	border-style: inset;
}

@layer utilities {
	.border-outset {
		border-style: outset;
	}
}

.card {
	@apply border-outset flex  flex-col items-center gap-6 rounded-none border-4 border-white bg-blue-500 p-4 shadow-md;
	border-style: outset;
}

.tab {
	@apply flex h-full w-32 items-center justify-center gap-2 self-start border-4 border-white bg-blue-500 px-4 py-2 font-bold text-white;
	border-style: outset;
}

.select-container {
	position: relative;
	display: flex;
	align-items: center;
	width: fit-content;
}

.select-custom {
	@apply flex h-fit items-center justify-center gap-2 border-4 border-white bg-blue-500 px-4 py-2 font-bold text-white;
	border-style: outset;
	outline: none;
	appearance: none;
	opacity: 0; /* Hide the select element */
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
}

.select-custom option {
	@apply cursor-pointer;
	font-size: 16px; /* Small text size for options */
}

.select-display {
	font-size: 56px; /* Larger text size for display */
	position: relative;
	z-index: 0;
	padding-right: 1.5em; /* Make space for the arrow */
}

.arrow {
	cursor: pointer;
	font-family: 'Handjet', sans-serif;
	font-size: 32px;
	color: white;
	position: absolute;
	right: 16px;
	pointer-events: none; /* Ensure the arrow doesn't block select interactions */
}
